{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         com.wsscode/pathom  {:mvn/version "2.4.0"}
         com.taoensso/timbre {:mvn/version "5.1.2"}
         com.datomic/peer    {:mvn/version "1.0.6735"}}}